<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <title>Reservas</title>
</head>

<body>
    <div id="editor"></div>
    <section class="content" layout:fragment="content">

        <div id="editor"></div>

        <div class="card">
            <div class="card-body">
                <form method="post" class="needs-validation" novalidate th:object="${locacao}">
                    <label class="form-label" for="sala.id">Sala:</label>
                    <select class="form-select" th:field="*{sala.id}">
                        <option th:each="sala : ${listaSalas}" th:value="${sala.id}" th:text="${sala.nomeSala}">
                        </option>
                    </select>

                    <label class="form-label" for="equipamentoId">Nome Equipamento:</label>
                    <select class="form-select" id="equipamentoId" name="equipamentoId" multiple>
                        <option th:each="equipamento : ${listaEquipamentos}" th:value="${equipamento.getId()}"
                            th:text="|${equipamento.nomeEquipamento} - ${equipamento.modeloEquipamento}"></option>
                    </select>

                    <label class="form-label" for="pessoa.id">Responsável:</label>
                    <select class="form-select" th:field="*{pessoa.id}" required>
                        <option th:each="pessoa : ${listaPessoas}" th:value="${pessoa.id}" th:text="${pessoa.nome}">
                        </option>
                    </select>

                    <label class="form-label" for="evento">Nome do Evento:</label>
                    <input class="form-control" type="text" placeholder="Nome do Evento" id="evento" name="evento"
                        required>

                    <label class="form-label" for="descricao">Descrição:</label>
                    <textarea  id="descricao" name="descricao" cols="30" rows="10" required
                        placeholder="descricao"></textarea>

                    <label class="form-label" for="data">Data do Evento:</label>
                    <input class="form-control" type="date" id="data" name="data" required>

                    <label class="form-label" for="horaInicial">Início:</label>
                    <input class="form-control" type="time" th:field="${locacao.horaInicial}" required>

                    <label class="form-label" for="horaFinal">Término:</label>
                    <input class="form-control" type="time" th:field="${locacao.horaFinal}" required>


                    <input type="submit" value="Reservar" class="btn" id="btn-input">
                    <input type="reset" value="Limpar" class="btn" id="btn-reset">
                </form>
            </div>
        </div>
    </section>

    <script src="https://cdn.ckeditor.com/ckeditor5/44.0.0/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>


</body>

</html>