<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <title>Reserva de Sala</title>
</head>

<body>
    <section class="content" layout:fragment="content">
        <form method="post" th:object="${locacao}">
            <h2>Reserva de Sala <span th:text="${tmp}"></span></h2>

            <label for="sala.id">Sala:</label>
            <select th:field="*{sala.id}">
                <option th:each="sala : ${listaSalas}" th:value="${sala.id}" th:text="${sala.nomeSala}"></option>
            </select>

            <label for="equipamentoId">Nome Equipamento:</label>
            <select id="equipamentoId" name="equipamentoId">
                <option th:each="equipamento : ${listaEquipamentos}" th:value="${equipamento.getId()}"
                    th:text="${equipamento.nomeEquipamento}"></option>
            </select>



            <label for="evento">Nome do Evento:</label>
            <input type="text" placeholder="Nome do Evento" id="evento" name="evento" required>


            <label for="data">Data do Evento:</label>
            <input type="date" id="data" name="data" required>


            <input type="submit" value="Reservar" class="btn" id="btn-input">
            <input type="reset" value="Limpar" class="btn" id="btn-reset">
        </form>
    </section>
</body>