<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org " layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Document</title>

</head>

<section class="content" layout:fragment="content" >
    <div class="content">
        <form method="POST" action="#">
            <h2>Cadastro de Equipamento</h2>

            <label for="idNome">Nome:</label>  
            <input type= "text" placeholder ="Nome" id="idNome" name="nomeEquipamento" required>

            <label for="idMarc">Marca:</label>           
            <input type= "text" placeholder ="Marca" id="idMarc" name="marcaEquipamento" required>

            <label for="idModelo">Modelo:</label>
            <input type= "text" placeholder ="Modelo" id="idModelo" name="modeloEquipamento" required>
            
            <label for="idTipo">Tipo:</label>     
            <input type= "text" placeholder ="Tipo" id="idTipo" name="tipoEquipamento" required>

            <input type= "submit" value="Cadastrar" class="btn" id="btn-input">
            <input type="reset" value="Limpar" class="btn" id="btn-reset">
    </form>
    </div>
</section>
</html>