<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://thymeleaf.org " layout:decorate="~{layout.html}"
    xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Login</title>
</head>

<body>

<section class="flex-fill" layout:fragment="content">
    <div class="container" style="max-width: 250px; margin: auto; margin-top: 150px;">
        <p>[[${error}]]</p>
        <small>[[${detail}]]</small>
    </div>
</section>

</body>

</html>