<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org " layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Cadastro</title>
</head>

<body>

<div id="editor"></div>
<section class="container container-sm my-4" layout:fragment="content">


    <div class="p-3">
        <h4 class="mb-3">Cadastro</h4>
        <form method="post" class="needs-validation" th:action="@{/cadastro}" novalidate th:object="${user}">
            <div class="row g-5 mx-0 d-flex text-start align-items-center">
                <div class="col-md-2">
                    <input type="hidden" name="id" th:field="*{id}">
                    <label class="form-label " for="nome">Nome Completo</label>
                    <input type="text" name="nomeCompleto" id="nome" placeholder="NOME COMPLETO">
                </div>
                <div class="col-md-2">
                    <label class="form-label" for="email">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="E-MAIL">
                </div>

                <div class="col-md-2">
                    <label class="form-label" for="cpf">CPF</label>
                    <input type="text" name="cpf" id="cpf" placeholder="CPF">
                </div>

                <div class="col-md-2">
                    <label class="form-label " for="rg">RG</label>
                    <input type="text" name="rg" id="rg" placeholder="RG">
                </div>

                <div class="col-md-2">
                    <label class="form-label" for="orgaoEmissor">Orgão Emissor</label>
                    <input type="text" name="orgaoEmissor" id="orgaoEmissor" placeholder="ORGÃO EMISSOR">
                </div>

                <div class="col-md-2">
                    <label class="form-label mb-1" for="estadoCivil">Estado Civil</label>
                    <select name="estadoCivil" id="estadoCivil" class="form-select  p-1">
                        <option selected>Estado Civil</option>
                        <option value="casado">Casado</option>
                        <option value="solteiro">Solteiro(a)</option>
                        <option value="divorciado">Divorciado(a)</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="form-label mb-1" for="genero">Gênero</label>
                    <select class="form-select p-1" id="genero" name="genero">
                        <option selected>Gênero</option>
                        <option value="homem">Homem</option>
                        <option value="mulher">Mulher</option>
                        <option value="nao-binario">Não-binário</option>
                        <option value="nenhum">Prefiro não declarar</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="form-label mb-1" for="cepId">Cep</label>
                    <input type="text" name="cep" maxlength="9" placeholder="99999-999" autofocus id="cepId">
                </div>

                <div class="col-md-2">
                    <label for="uf">UF</label>
                    <input name="uf" type="text" id="uf">
                </div>

                <div class="col-md-2">
                    <label for="cidade">Cidade:</label>
                    <input name="cidade" type="text" id="cidade">
                </div>

                <div class="col-md-2">
                    <label for="bairro">Bairro:</label>
                    <input name="bairro" type="text" id="bairro">
                </div>

                <div class="col-md-2">
                    <label for="endereco">Endereço:</label>
                    <input name="endereco" type="text" id="endereco">
                </div>

                <div class="col-md-2">
                    <label for="numero">Número:</label>
                    <input type="number" name="numero" id="numero">
                </div>

                <div class="col-md-2">
                    <label for="complemento">Complemento:</label>
                    <input type="text" name="complemento" id="complemento">
                </div>

                <div class="col-md-2">
                    <label class="form-label mb-1" for="categoria">Categoria</label>
                    <select class="form-select p-1" id="categoria" name="categoria">
                        <option selected>Categoria</option>
                        <option value="residente">Residente Jurídico/a</option>
                        <option value="servidorDpg">Servidor DPGE</option>
                        <option value="servidor">Servidor</option>
                        <option value="pan">Pan</option>
                        <option value="acoesAfirmativas">Ações afirmativas</option>
                        <option value="nsa">Não se aplica</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="form-label mb-1" for="autodeclaracao">Autodeclaração</label>
                    <select class="form-select  p-1" id="autodeclaracao" name="autodeclaracao">
                        <option selected>Autodeclaração</option>
                        <option value="pcd">PCD</option>
                        <option value="pessoaPreta">Pessoa Preta</option>
                        <option value="pessoaParda">Pessoa Parda</option>
                        <option value="pessoaTrans">Pessoa Trans</option>
                    </select>
                </div>

                <hr class="mt-4">

                <div class="d-grid gap-2 d-sm-flex  justify-content-evenly">
                    <input type="reset" value="Limpar" class="btn btn-warning  btn-shadow bg-gradient"
                           id="btn-reset">
                    <input type="submit" value="Cadastrar" class="btn btn-success  btn-shadow bg-gradient"
                           id="btn-input">
                </div>
            </div>
        </form>
    </div>
</section>
</body>

</html>