<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <title>Home</title>
</head>

<body>
    <section class="content" layout:fragment="content">
        <form method="POST" action="#">
            <h2>Área de Login</h2>

            <label for="login">Login:</label>
            <input type="email" placeholder="Login" id="login" name="login" required>

            <label for="senha">Senha:</label>
            <input type="password" placeholder="Senha" id="senha" name="senha" required>

            <div class="checkbox-space">
                <label for="robo">Não sou um robô </label>
                <input type="checkbox" id="robo" name="robo" required>
            </div>

            <input type="submit" value="Entrar" class="btn" id="btn-input">
            <input type="reset" value="Limpar" class="btn" id="btn-reset">
        </form>
    </section>
</body>