<!DOCTYPE html>
<html class="h-100" lang="pt-br" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fundação Escola Superior da Defensoria Pública do Estado do Rio de Janeiro">
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Fesudeperj</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/assets/favicon/site.webmanifest}">
    <link rel="mask-icon" th:href="@{/assets/favicon/safari-pinned-tab.svg}" color="#04a583">
    <meta name="apple-mobile-web-app-title" content="Fesudeperj">
    <meta name="application-name" content="Fesudeperj">
    <meta name="msapplication-TileColor" content="#04a583">
    <meta name="theme-color" content="#04a583">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

</head>

<body class="d-flex flex-column min-vh-100 bg-light bg-gradient ">
    <header class="border-0 bg-success bg-gradient shadow-lg p-3 fw-bold " th:if="${noHeaderFooter == null OR noHeaderFooter == false}">
        <div class="container">
            <nav class="nav navbar nav-underline navbar-expand-sm" aria-label="Menu principal">
                <div class="container-fluid">
                    <a class="navbar-brand p-0 d-flex align-items-center" th:href="@{/}">
                        <img class="float-start me-2" th:src="@{/assets/images/logo-white.svg}" alt="Logo">
                        <div class="d-flex flex-column position-relative">
                            <h1 class="mb-0">Fesudeperj</h1>
                            <span>Fundação Escola Superior da Defensoria</span>
                            <span>Pública do Estado do Rio de Janeiro</span>
                        </div>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbars-menu" aria-controls="navbars-menu" aria-expanded="false"
                        aria-label="Alternar navegação">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div th:replace="fragments/menu :: menu"></div>
                </div>
            </nav>
        </div>
    </header>

    <section class="flex-fill" layout:fragment="content">

    </section>

    <footer class="footer mt-auto bg-secondary bg-gradient" th:if="${noHeaderFooter == null OR noHeaderFooter == false}">
        <p class="m-0 text-white text-opacity-50">© 1997 - 2024 Fesudeperj - Todos os direitos reservados.</p>

    </footer>

    <div class="modal fade" id="modal-add" tabindex="-1" aria-labelledby="modal-add-label" aria-hidden="true" layout:fragment="modal-add"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/inputmask.min.js" integrity="sha512-7MSrprC5qi3xYbOIZqbB59XEYQMILpy0tQhiHDOjX8v0+7zUJ54o5Xw2UB0GXvim3LKMPbHld9BPzV9euBjfug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="@{/assets/js/script.js}"></script>
    <script>        const page = window.location.pathname;

        document.querySelector(`.nav-item [href="${page}"]`)?.classList.add("active");

        const resetForm = () => {
            const form = document.getElementById("form-create");

            form.querySelectorAll("input, select, textarea").forEach((e) => e.value = "");
            form.querySelectorAll("ul.errors").forEach((e) => e.remove());
        };

        const modalAdd = document.getElementById("modal-add");
        const resetBtn = document.querySelector("[type=reset]");

        modalAdd.addEventListener("hidden.bs.modal", resetForm);

        if (resetBtn) resetBtn.addEventListener("click", () => setTimeout(resetForm, 100));

        // adiciona um asterisco (*) ao label do input/select/textarea que tenham os atributos id/required
        const required = () => {
            const elements = [
                "input[id]:required",
                "select[id]:required",
                "textarea[id]:required",
            ];

            document.querySelectorAll(elements.join(",")).forEach((element) => {
                if (element.disabled || element.readOnly) return;

                const label = document.querySelector(`[for="${element.id}"]`);

                if (!label) return;

                if (label.querySelector("span.text-danger")?.textContent === "*")
                    return;

                const span = document.createElement("span");

                span.classList.add("text-danger");
                span.textContent = "*";

                label.innerHTML = `${span.outerHTML}${label.textContent}`;
            });
        };

        required();

        Inputmask().mask(document.querySelectorAll("input[data-inputmask]"));
    </script>
</body>

</html>