<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://thymeleaf.org " layout:decorate="~{layout.html}"
    xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Salas</title>
</head>
<section layout:fragment="content">
    <table class="table">
        <thead class="thead-reservas">
            <tr class="tr">
                <th class="th" scope="col">Nome da Sala</th>
                <th class="th" scope="col">Reservas</th>
                <th class="th" scope="col">Gerenciar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sala : ${listaSalas}">
                <td class="td-reservas" th:text="${sala.nomeSala}"></td>
                <td class="td-reservas">
                    <th:block th:if="${#lists.isEmpty(sala.locacoes)}">
                        <ul style="margin:0;padding-left:20px;">
                            <li>Não há reservas.</li>
                        </ul>
                    </th:block>
                    <th:block th:unless="${#lists.isEmpty(sala.locacoes)}">
                        <li class="reservas" th:each="locacao : ${sala.locacoes}">
                            <div>
                                <p class="m-0" th:text="|Data: ${locacao.data}|"></p>
                                <p class="m-0" th:text="|Evento: ${locacao.evento}|"></p>
                                <p class="m-0" th:text="|Início: ${locacao.horaInicial}|"></p>
                                <p class="m-0" th:text="|Término: ${locacao.horaFinal}|"></p>
                                <p class="m-0" th:text="|Responsável: ${locacao.pessoa?.nome ?: 'Nenhum'}|"></p>

                                <p class="m-0">
                                    Equipamentos: <br> [
                                    <th:block th:each="equipamento : ${locacao.equipamentos}">
                                        <span th:text="|Nome: ${equipamento.nomeEquipamento}"></span>,
                                        <span th:text="|Modelo: ${equipamento.modeloEquipamento}"></span>,
                                        <span th:text="|Marca: ${equipamento.marcaEquipamento}"></span>,
                                        <span th:text="|Tipo: ${equipamento.tipoEquipamento}"></span>
                                    </th:block>
                                    ]
                                    <hr>
                                </p>
                            </div>

                            <div class="botaoDeleteReserva">
                                <form th:action="@{/salas/reserva/{id}(id=${locacao.id})}" th:method="delete"
                                    th:onsubmit="return confirm('Essa operação irá deletar a reserva \'[(${locacao.evento})]\' permanentemente. Deseja realmente deletar?');">
                                    <input class="btn btn-danger btn-shadow " type="submit" value="Deletar Reserva">
                                </form>
                            </div>
                        </li>
                    </th:block>
                </td>

                <td>
                    <div class="botaoDeleteSala">
                        <form th:action="@{/salas/{id}(id=${sala.id})}" th:method="delete"
                            th:onsubmit="return confirm('Essa operação irá deletar a sala \'[(${sala.nomeSala})]\' permanentemente. Deseja realmente deletar?');">
                            <input class="btn btn-danger btn-shadow " type="submit" value="Deletar Sala">
                        </form>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>

    <button id="add" class="btn btn-success position-fixed rounded-circle def" data-bs-toggle="modal"
        data-bs-target="#modal-add">
        <i class="bi bi-plus-lg"></i>
    </button>
</section>

<div layout:fragment="modal-add">
    <div class="modal-dialog modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-add-label">Cadastro de Salas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body py-0">
                <form id="form-create" class="needs-validation" novalidate th:action="@{/salas}" th:object="${sala}"
                    method="post">
                    <div class="d-flex w-100">
                        <div class="col-md-12">
                            <label for="nome" class="col-form-label fw-semibold">Nome da sala:</label>
                            <input id="nome" type="text" class="form-control" th:field="*{nomeSala}" value="" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary def" form="form-create">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

</html>