<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://thymeleaf.org " layout:decorate="~{layout.html}"
    xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Pessoas</title>
</head>

<section layout:fragment="content">
    <div>
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pessoa : ${listaPessoas}">
                    <td> <span th:text="${pessoa.nome}"></span> </td>
                    <td><span th:text="${pessoa.sobrenome}"></span></td>
                    <td><span th:text="${pessoa.cpf}"></span></td>
                    <td><span th:text="${pessoa.telefone}"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <button id="add" class="btn btn-success position-fixed rounded-circle def" data-bs-toggle="modal" data-bs-target="#modal-add">
        <i class="bi bi-plus-lg"></i>
    </button>
</section>

<div layout:fragment="modal-add">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-add-label">Cadastro de Pessoas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body py-0">
                <form id="form-create" class="needs-validation" novalidate th:action="@{/pessoas}" th:object="${pessoa}" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nome" class="col-form-label fw-semibold">Nome:</label>
                            <input id="nome" type="text" class="form-control" th:field="*{nome}" value="" required>
                        </div>
                        <div class="col-md-6">
                            <label for="sobrenome" class="col-form-label fw-semibold">Sobrenome:</label>
                            <input id="sobrenome" type="text" class="form-control" th:field="*{sobrenome}" value="" required>
                        </div>
                        <div class="col-md-6">
                            <label for="cpf" class="col-form-label fw-semibold">CPF:</label>
                            <input id="cpf" type="text" class="form-control" th:field="*{cpf}" value="" required>
                        </div>
                        <div class="col-md-6">
                            <label for="telefone" class="col-form-label fw-semibold">Telefone:</label>
                            <input id="telefone" type="text" class="form-control" th:field="*{telefone}" value="" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary def" form="form-create">Limpar</button>
                <button type="submit" class="btn btn-primary def" form="form-create">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

</html>