<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://thymeleaf.org " layout:decorate="~{layout.html}"
    xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Salas</title>
</head>
<section layout:fragment="content">
    <table class="table table-light table-striped table-responsive">
        <thead class="thead-reservas">
            <tr class="tr">
                <th class="th fw-semibold" scope="col">Nome da Sala</th>
                <th class="th fw-semibold" scope="col">Status</th>
                <th class="th fw-semibold" scope="col" sec:authorize="hasRole('ADMIN')" >Gerenciar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sala : ${listaSalas}">
                <td class="td-reservas fw-semibold pt-3" th:text="${sala.nomeSala}"></td>
                <td class="td-reservas align-middle">
                    <th:block th:if="${#lists.isEmpty(sala.locacoes)}">
                        <ul class="m-0">
                            <li style="list-style: none;">Não há reservas.</li>
                        </ul>
                    </th:block>
                    <th:block th:unless="${#lists.isEmpty(sala.locacoes)}">
                        <ul class="m-0">
                            <li>Possui reservas.</li>
                        </ul>
                    </th:block>

                </td>

                <td>
                    <form th:action="@{/salas/{id}(id=${sala.id})}" th:method="delete"
                        th:onsubmit="return confirm('Essa operação irá deletar a sala \'[(${sala.nomeSala})]\' permanentemente. Deseja realmente deletar?');">
                        <input class="btn btn-danger btn-shadow botaoDelete bg-gradient " sec:authorize="hasRole('ADMIN')"
                            type="submit" value="Deletar Sala">
                    </form>
                </td>

            </tr>
        </tbody>
    </table>

    <button id="add" class="btn btn-success position-fixed rounded-circle def" sec:authorize="hasRole('ADMIN')"
        data-bs-toggle="modal" data-bs-target="#modal-add">
        <i class="bi bi-plus-lg"></i>
    </button>
</section>

<div layout:fragment="modal-add">
    <div class="modal-dialog modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-add-label">Cadastro de Salas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body py-0 pb-3">
                <form id="form-create" class="needs-validation" novalidate th:action="@{/salas}" th:object="${sala}"
                    method="post">
                    <div class="d-flex w-100">
                        <div class="col-md-12">
                            <label for="nome" class="col-form-label fw-semibold">Nome da sala:</label>
                            <input id="nome" type="text" class="form-control" th:field="*{nomeSala}" value="" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success bg-gradient def" form="form-create">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
</html>