<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<head>
    <title>Fesudeperj</title>
</head>

<section class="content" layout:fragment="content">
    <div>
        <form method="post">
            <br>
            <div class=" container text-center">
                <h2>Cadastro de Salas</h2>
                <br>
                <div>
                    <label for="Nome">Nome da sala</label>
                    <br>
                    <input type="text" value="" name="nomeSala">
                </div>
                <br>
                <button class=" btn bg-success bg-gradient opacity-75" type="submit">Cadastrar</button>
            </div>
            <br>
        </form>
    </div>
</section>

</html>