@font-face {
    font-family: 'Fesudeperj';
    src: url('../fonts/FesudeperjBT.woff2') format('woff2'),
        url('../fonts/FesudeperjBT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fesudeperj';
    src: url('../fonts/FesudeperjBT-Bold.woff2') format('woff2'),
        url('../fonts/FesudeperjBT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.shadow-sm {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px!important;
}

.navbar-brand {
    font-family: 'Fesudeperj';
}

.navbar-brand,
.navbar-brand:hover {
    color: white;
}

.navbar-brand img {
    height: 58px;
}

.navbar-brand div {
    top: -3px;
}

.navbar-brand div h1 {
    font-size: 35.5px;
    line-height: 1.35;
}

.navbar-brand div h1::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: white;
    transition: width 150ms ease-in-out;
}

.navbar-brand:hover div h1::after {
    width: 100%;
}

.navbar-brand div span {
    font-size: 9.3px;
    font-weight: normal;
    margin-left: 4px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item.dropdown .nav-link:hover {
    border-bottom: none;
}

a.nav-link,
a.nav-link:hover,
a.nav-link:focus,
a.nav-link.active {
    color: white !important;
}

a.nav-link.active {
    font-weight: 600;
}

header {
    /* width: 100vw; */
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 17px;
}

.header .header-menu .nav-menu {
    list-style: none;
    display: flex;
}

.header .header-menu .nav-menu .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.header .header-menu .nav-menu .nav-item:hover {
    height: 77px;
    border-bottom: 3px solid #fff;
}

.header .header-menu .nav-menu .nav-item a {
    text-decoration: none;
    color: #fff;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form h2 {
    margin-bottom: 15px;
}

form label {
    font-weight: 600;
}

form .radios {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

form .radios label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

form .radios label p {
    width: 150px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 41px;
}

.btn#add {
    bottom: 50px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    padding: 0;
    right: 12px;
}

form.form-signin .form-floating:nth-child(1) input {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

form.form-signin .form-floating:nth-child(2) input {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control:focus {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn-shadow {
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.75);
}

.reservas {
    display: flex;
    align-items: center;
    border: 1px solid;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 1);
    width: 500px;
    font-style: oblique;
}

.reservas hr {
    border: 1px solid rgb(2, 82, 42);
}

.botaoDelete {
    max-width: min-content;
}

.reservas {
    display: flex;
    justify-content: space-between;
}

.pessoaManager {
    display: flex;
    justify-content: space-around;
}